@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	margin: 0 auto;
	scale: 0;
	width: 100%;
	animation: showImg 0.5s ease-out forwards;
}

body {
	width: 100%;
	min-height: 100vh;
	padding: 1rem 0.5rem;
	font-family: "Space Grotesk", sans-serif;
	background-color: #ddd;
	margin: auto;
}

:root {
	font-size: 62.5%;
}

h1 {
	font-size: 2.5rem;
	font-weight: 900;
	text-align: center;
	margin-bottom: 1rem;
	color: #000;
}

.container {
	padding: 1rem;
	border-radius: 2.5rem;
	margin: 0 auto;
	max-width: 35rem;
}

.computer,
.player {
	border: 3px solid #000;
	padding: 2rem;
	border-radius: 2rem;
	background-color: #fff;
	min-height: 30rem;
}

.link {
	text-align: center;
	margin: 1rem 0;
	font-size: 1.7rem;
	font-weight: 500;
}

.link a {
	text-decoration: none;
	color: rgb(255, 0, 0);
}

.name {
	font-size: 2rem;
	text-align: center;
	color: #000;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.score {
	color: #000;
}

.score h2 {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 900;
	margin-bottom: 1rem;
}

.comp-img-con,
.player-img-con {
	margin: 0 auto;
	width: 13rem;
}

.comp-image-name,
.player-image-name {
	text-align: center;
	margin: 1rem 0;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.stat-message {
	font-weight: 900;
	color: gray;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
	font-size: 1.6rem;
	text-align: center;
	margin: 1rem 0;
	text-transform: uppercase;
	min-height: 2rem;
}

.choice {
	margin: 2rem 0 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 31rem;
}

.btn {
	border: 3px solid #000;
	font-family: "Space Grotesk", sans-serif;
	font-weight: 900;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	cursor: pointer;
	color: #000;
	background-color: #fff;
}

.btn:hover {
	color: #fff;
	background-color: #000;
}

@media screen and (min-width: 750px) {
	h1 {
		margin: 5rem 0;
	}

	.container {
		max-width: 85rem;
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		align-items: center;
		margin: 0 auto;
	}

	.link {
		margin: 4rem 0;
	}

	.computer,
	.player {
		height: 31.5rem;
		width: 30rem;
		border: 3px solid #000;
		padding: 1rem;
		border-radius: 2rem;
		background-color: #fff;
	}

	.message {
		width: 20rem;
	}

	.stat-message {
		font-size: 3rem;
	}
}

@keyframes showImg {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}
